<!-- Homepage displaying shortened overview of recently posted and most popular parties, as well as (like the other pages) further links on tehe navbar -->

{% extends "layout.html" %}

        <!-- Title -->
        <section class="coloured-section">
            <div class="container-fluid">
                <h1>wyd2nite - "What you doing tonight?"</h1>
                <p>The party compass for Harvard College students with FOMO. </p>
            </div>
        </section>

        <!-- Party Cards (see: https://getbootstrap.com/docs/5.2/components/card/)-->
        <!-- On back end: Limit by 3, FROM "MOST RECENTLY POSTED"-->
        <h2>Recently posted</h2>
        {% for party in parties %}
        <div class="card">
            <div class="card border-info mb-3">
            <img class="card-img-top" src= "{{ party.photo }}" alt="Card image cap"> <!-- NOTE TO CHRISTIAN: SOMEHOW IMPLEMENT PHOTO FOR EACH PARTY FROM BACK END - some already uploaded to files, as examples -->
                <div class="card-body">
                    <h5 class="card-title">{{ party.org }} - {{ party.name }}</h5>
                    <p class="card-text">{{ party.date }} - {{ party.description }}</p>
                    <a href="party.html" class="btn btn-primary">More</a>
                </div>
            </div>
        {% endfor %}
        </div>

        <h2>Most popular</h2>
        <!-- Query back end for 3 most popular (diff from above; e.g. filter by highest average ratings, vs. above: filter by date posted)-->
        <div class="card">
            <div class="card border-info mb-3">
            <img class="card-img-top" src= "{{ party.photo }}" alt="Card image cap"> <!-- NOTE TO CHRISTIAN: SOMEHOW IMPLEMENT PHOTO FOR EACH PARTY FROM BACK END - some already uploaded to files, as examples -->
                <div class="card-body">
                    <h5 class="card-title">{{ party.org }} - {{ party.name }}</h5>
                    <p class="card-text">{{ party.date }} - {{ party.description }}</p>
                    <a href="party.html" class="btn btn-primary">More</a>
                </div>
            </div>
        {% endfor %} 
        </div>

{% endblock %}