{% extends "layout.html" %}

        <!-- Title -->
        <section class="coloured-section">
            <div class="container-fluid">
                <h1>wyd2nite - "What you doing tonight?"</h1>
                <p>The party compass for Harvard College students with FOMO. </p>
            </div>
        </section>

        <!-- Party Cards (see: https://getbootstrap.com/docs/5.2/components/card/)-->

        <!-- On back end: Limit by 3, FROM "MOST RECENTLY POSTED"-->
        <h2>Recently posted</h2>
        {% for party in parties %}
        <div class="card">
            <div class="card border-info mb-3">
            <img class="card-img-top" src= "{{ party.photo }}" alt="Card image cap"> <!-- NOTE TO CHRISTIAN: SOMEHOW IMPLEMENT PHOTO FOR EACH PARTY FROM BACK END - some already uploaded to files, as examples -->
                <div class="card-body">
                    <h5 class="card-title">{{ party.org }} - {{ party.name }}</h5>
                    <p class="card-text">{{ party.date }} - {{ party.description }}</p>
                    <a href="party.html" class="btn btn-primary">More</a>
                </div>
            </div>
        {% endfor %}
        </div>

        <h2>Most popular</h2>
        <!-- Query back end for 3 most popular (diff from above; e.g. filter by highest average ratings, vs. above: filter by date posted)-->
        <div class="card">
            <div class="card border-info mb-3">
            <img class="card-img-top" src= "{{ party.photo }}" alt="Card image cap"> <!-- NOTE TO CHRISTIAN: SOMEHOW IMPLEMENT PHOTO FOR EACH PARTY FROM BACK END - some already uploaded to files, as examples -->
                <div class="card-body">
                    <h5 class="card-title">{{ party.org }} - {{ party.name }}</h5>
                    <p class="card-text">{{ party.date }} - {{ party.description }}</p>
                    <a href="party.html" class="btn btn-primary">More</a>
                </div>
            </div>
       {% endfor %} 
        </div>


        <!-- Links to other pages -->
        <!-- <section id="features" class="coloured-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <a class="page-link" href="hate-test.html">Do I hate you?</a>
                        <p>Find out if I hate you or not.</p>
                    </div>
                    <div class="col-lg-4">
                        <a class="page-link" href="poem.html">Hate (An Acrostic Poem)</a>
                        <p>Sometimes, the philosophies of the world are best captured through poetry.</p>
                    </div>
                    <div class="col-lg-4">
                        <a class="page-link" href="feedback.html">Feedback</a>
                        <p>Let me know what you think!</p>
                    </div>
                </div>
            </div>
        </section> -->

{% endblock %}