<!-- Displays overview of all organizations that have previously registered / posted events -->

{% extends "layout.html" %}

<!-- Page Title -->
<h1 class="title">Organizations</h1>
<p>An overview of participating organizations.</p> 

<h2>Full organization list</h2> <!-- (BACKEND: SORT THIS LIST BY ALPHABETICALLY??? +CAN USER-INPUTTED REGISTRATION [as organization] BE APPENDED AUTOMATICALLY??) -->
<table>
    {% for org in parties %}
    <tr>
        <th>Name</th>
        <th>Address</th>
        <!-- (from registration:) -->
        <th>Email</th>
        <!-- Column for lists of previous or planned parties of this organization: -->
        <th>Parties</th>
        <!-- (see org.html) -->
        <th>Likes</th>
        <th>More</th>
    </tr>
    <tr>
        <td>{{ org.name }}</td>
        <td>{{ org.address }}</td>
        <td>{{ org.email }}</td>
        <td>{{ org.parties }}</td>
        <td>{{ org.likes }}</td>
        <td><a href="party.html" class="btn btn-primary">More</a></td>  <!-- (IS THIS BUTTON / LINK TO INDIVIDUAL PARTY SITE FOR EACH PARTY POSSIBLE (THROUGH DIFFERENTIATION IN BACK END)??) -->
    </tr>
</table>
{% endfor %}

{% endblock %}