<!-- Displays overview all parties happening on campus (extended version of the truncated one on the homepage; function of detailed "public calendar", since login/registration not required to view) -->

{% extends "layout.html"}

        <!-- Page Title -->
        <h1 class="title">Parties</h1>
        <p>An overview of what parties are scheduled.</p>  <!-- !!!! BACKEND: REMOVE PASSED EVENTS? !!!!! -->

        <h2>Full party list</h2> <!-- BACKEND: SORT THIS LIST BY DATE??? +CAN USER-INPUTTED EVENTS [from plan_party.html] BE APPENDED AUTOMATICALLY?? (SAME TWO QUESTIONS FOR CARD LISTS ON INDEX.HTML!!))-->
        <table>
            {% for party in parties %}
            <tr>
                <th>Organization</th>
                <th>Event Name</th>
                <th>Event Date</th>
                <th>Event Location</th>
                <th>Description</th>
                <th>Likes</th> <!-- Category for like count (see party.html); a way of showing interest and recommending for users -->
                <th>More</th>
            </tr>
            <tr>
                <td>{{ party.org }}</td>
                <td>{{ party.name }}</td>
                <td>{{ party.date }}</td>
                <td>{{ party.location }}</td>
                <td>{{ party.description }}</td>
                <td>{{ party.likes }}</td>
                <td><a href="party.html" class="btn btn-primary">More</a></td>  <!-- IS THIS BUTTON / LINK TO INDIVIDUAL PARTY SITE FOR EACH PARTY POSSIBLE (THROUGH DIFFERENTIATION IN BACK END)??-->
            </tr>
        </table>
        {% endfor %}
        
{% endblock %}