/* CSS stylesheet for entire website; select styling elements represented. See also: CS50 Problem Set 8, 9 */

body {
    font-family: "Changa", sans-serif;
    text-align: center;
}

h1, h2, h3, h5 {
  font-weight: 500;
}

p {
  color: #123c5f;
  font-size: 0.9rem;
}

a {
  color: black;
}

input {
  margin: 2% 0;
}

/* Images */
img {
  width: 20%;
  height: auto;
  padding: 5%;
}

/* Buttons */
button {
  margin: 3%;
}

/* Containers */
.container-fluid {
    padding: 7% 15%;
} */

/* Cards */
card {
    width: 18rem;
}

/* Sections */
.coloured-section {
  background-color: #2a4c70;
  color: white;
}

/* Navigation Bar */

.navbar {
    padding-left: 40px;
    text-align: left;
}

.navbar-brand {
  font-family: "Changa";
  font-size: 3rem;
  font-weight: bold;
}

.nav-item {
  padding-left: 36px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Feedback form */
.feedback-div {
  padding: 2% 0;
}