/* CSS stylesheet for entire website; select styling elements represented. See also: CS50 Problem Set 8, 9 */

body {
    font-family: "Changa", sans-serif;
    margin: 5%;
}

.table-img {
  width: 30%;
}

.card {
  width: 50%;
}

.quick-form {
  width: 30%;
}

div {
  overflow-x: hidden;
}

h1, h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 40px;
}

h3, h5 {
  font-weight: 500;
}

p {
  color: #fc9988;
  font-size: 1.1rem;
  margin-top: 5%;
}

a {
  color: black;
}

input {
  margin: 2% 0;
}

/* Buttons */
button {
  margin: 3%;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
} */

/* Cards - center! */
.card, .car {
  width: 100%;
}

/* Sections */
.coloured-section {
  background-color: #2a4c70;
  color: white;
}