/* CSS stylesheet for entire website; select styling elements represented. See also: CS50 Problem Set 8, 9 */

body {
    font-family: "Changa", sans-serif;
    background-color: #FEFCF3;
}

/* General styling */

div {
  overflow-x: hidden;
}

h1, h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 40px;
}

h3, h5 {
  font-weight: 500;
}

p {
  font-size: 1.1rem;
  margin-top: 5%;
}

a {
  color: black;
}

input {
  margin: 2% 0;
}

/* Navigation bar */

.navbar {
  height: 20%;
  padding: 3%;
  background-color: #F0DBDB;
}

.navbar-brand {
  font-size: 6rem;
  height: 20%;
}

.navbar-collapse {
  font-size: 2rem;
  height: 20%;
}

/* Slogan */

h1.slogan {
  font-size: 7.5rem;
  font-weight: 700;
}

h2.slogan {
  font-size: 5rem;
  font-weight: 500;
}

p.slogan {
  font-weight: 700;
}

/* Table display */

.table-img {
  width: 30%;
}

table {
  font-size: small;
}

/* Card display */

.card {
  width: 50%;
  background-color: #F5EBE0;
}

.card-img {
  vertical-align: middle;
}

.card-title {
  font-size: 2rem;
}

.card-text {
  font-size: 1.4rem;
}

/* Form display */

.quick-form {
  width: 30%;
}

/* Buttons */
button {
  margin: 3%;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
} */

/* Cards - center! */
.card, .car {
  width: 100%;
}

/* Sections */
.coloured-section {
  background-color: #DBA39A;
  color: white;
}