<!DOCTYPE html>

<html lang="en">

    <head>
        <title>wyd2nite</title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css?family=Changa" rel="stylesheet" />

        <!-- Bootstrap Scripts -->
        <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- CSS Stylesheet -->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    </head>

    <body>
<!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div id="my-navbar">
                <a class="navbar-brand" href="index.html">wyd2nite</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="orgs.html">Organizations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="parties.html">Parties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.html">Register</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="container py-5 text-center">
            {% block main %}{% endblock %}
        </main>

    </body>

</html>