
<!-- Displays overview of all organizations that have previously registered / posted events -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Organizations{% endblock %}

{% block page_content %}
   <!-- Page Title -->
   <h1 class="title">Organizations</h1>
   <p>An overview of participating organizations.</p>
   <h2>Full organization list</h2>

   {% with messages = get_flashed_messages() %}
   {% if messages %}
   {% for message in messages %}
   <p style="color:red">{{ message }}</p>
   {% endfor %}
   {% endif %}
   {% endwith %}

   <table class="table">
      <tr>
         <th scope="col"></th>
         <th scope="col">Name</th>
         <th scope="col">Description</th>
         <th scope="col">Email</th>
         <th scope="col">Organization Page</th>
      </tr>
      {% for org in orgs %}
      <tr>
         <td class="w-25"><img class="img-fluid img-thumbnail" src= "{{ org.img_url }}"></td>
         <td>{{ org.name }}</td>
         <td>{{ org.desc }}</td>
         <td>{{ org.email }}</td>
         <td><a href="{{ url_for('organization', org_name=org.name) }}" class="btn btn-primary">Details</a></td>
      </tr>
      {% endfor %}
   </table>
{% endblock %}