<!-- Displays all parties user has previously signed up for -->

{% extends "layout.html"}

        <!-- Page Title -->
        <h1 class="title">Party History</h1>
        <p>An overview of parties you have previously signed up for.</p>

        <h2>Full party list</h2> <!-- CAN WE SORT THIS LIST BY DATE??? +CAN USER-INPUTTED EVENTS [from plan_party.html] BE APPENDED AUTOMATICALLY?? (SAME TWO QUESTIONS FOR CARD LISTS ON INDEX.HTML!!))-->
        <table>
            {% for party in userparties %} <!-- special database only with filter (only parties user has signed up for, from larger database "parties") => is this possible??? -->
            <tr>
                <th>Organization</th>
                <th>Event Name</th>
                <th>Event Date</th>
                <th>Event Location</th>
                <th>Description</th>
                <th>Average Previous Rating</th> <!-- Category denoting average ratings (OUT OF 5) for each party from past years. -->
                <th>More</th>
            </tr>
            <tr>
                <td>{{ party.org }}</td>
                <td>{{ party.name }}</td>
                <td>{{ party.date }}</td>
                <td>{{ party.location }}</td>
                <td>{{ party.description }}</td>
                <td>{{ party.average }}</td>  <!-- NOTE TO CHRISTIAN: OR, IF PREFERRED INSTEAD OF CALCULATION AND DATA BASE IN BACKGROUND, DO CALCULATION (DEPENDING ON CATEGORIES) HERE -->
                <td><a href="party.html" class="btn btn-primary">More</a></td>  <!-- IS THIS BUTTON / LINK TO INDIVIDUAL PARTY SITE FOR EACH PARTY POSSIBLE (THROUGH DIFFERENTIATION IN BACK END)??-->
            </tr>
            {% endfor %}
        </table>

{% endblock%}